
div.quad { 
    width: 50%;
    height: 50%;
    float: left;
}
#eat { background-color: rgb(173, 78, 118); };

button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: rgb(129, 121, 121);
    border: none;
  }

  button:hover {
    background: lightsalmon;
  }