
div.quad { 
    width: 50%;
    height: 50%;
    float: left;
}
#eat { background-color: rgb(173, 78, 118); };

button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: rgb(129, 121, 121);
    border: 2px solid silver;
  }

  button:hover {
    background: lightsalmon;
  }

  #myBar{
    margin-left: 20px;
     border: 2px solid silver;
  }

#eatbtnSection{
  display: flex;
  justify-content: space-around;
}

.eatTitle {
  h1{
    text-align: left;
    margin: 8px;
    padding: 8px;
  }
}
#virtualPet{
  display: flex;
  justify-content: flex-end;
  margin: 12em 0;
}