div.quad { 
    width: 50%;
    height: 50%;
    float: left;
}
#fight { 
  background-color: rgb(131, 131, 175); 
};

#fightBar{
    margin-left: 20px;
     border: 2px solid silver;
  }

  #fightbtnSection{
    display: flex;
    justify-content: space-around;
  }

.fightTitle{
  h1{
    text-align: left;
    margin: 8px;
    padding: 8px;
  }
}