div.quad { 
    width: 50%;
    height: 50%;
    float: left;
}

#sleep { background-color: rgb(194, 115, 161); };

#sleepBar{
    margin-left: 20px;
     border: 2px solid silver;
  }

  #sleepbtnSection{
    display: flex;
    justify-content: space-around;
  }
